body {
  background-color: #fff;
}

.link {
  color: #0073cc;
  display: block;
  margin: 50px auto 0;
  width: fit-content;
}

.form {
  margin-inline: auto;
  width: 680px;
}

.form__group {
  margin-bottom: 30px;
}

.form__label {
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 16px;
}

.form__button {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 26px;
  font-weight: 700;
  margin-top: 60px;
  transition: .3s ease;
  width: 100%;
  height: 60px;
}

.form__button:hover {
  background-color: #444;
}

.form__error {
  color: #ff333f;
  margin-top: 5px;
}
